<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div id="top"><h1 class="roboto">TELECOM Nancy</h1></div>
    <div id="map"></div>
    <script src="scripts/map.js"></script>
    <script async defer
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJGZTs8mUHBXCm9EhqMf2LjUFlq9DcHx4&callback=initMap">
    </script>
  </body>
</html>

