<!DOCTYPE html>
<html>
<head>
    <title>TELECOM Nancy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="card">
        <div class="">
            <div class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"><div>T</div><div>E</div><div>L</div><div>E</div><div>C</div><div>O</div><div>M</div><div class="nancy">Nancy</div></a>
                <ul class="nav justify-content-end">
                    <li class="nav-item special-nav-item">
                        <button type="button" class="btn-menu"><i class="material-icons">map</i></button>
                    </li>
                    <li class="nav-item special-nav-item">
                        <button type="button" class="btn-menu" data-toggle="modal" data-target="#programModal">
                            <i class="material-icons">assignment</i>
                        </button>
                    </li>
                    <li class="nav-item special-nav-item">
                        <button type="button" class="btn-menu" data-toggle="collapse" data-target="#chatCollapse" aria-expanded="false" aria-controls="chat"><i class="material-icons">chat</i></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-container">
            <div id="map"></div>
            <div class="collapse chat-container container" id="chatCollapse">
                <div id="chat">
                    <div class="card">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="entry-message-container">
                                    <div class="name-placeholder">Toto Patapouf</div>
                                    <div class="hour-placeholder">10:08</div>
                                    <div class="text-placeholder">Bon anniversaire TELECOM !</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="entry-message-container">
                                    <div class="name-placeholder">Tata Miniclick</div>
                                    <div class="hour-placeholder">10:09</div>
                                    <div class="text-placeholder">Déjà 10 ans... Félicitations !</div>
                                </div></li>
                                <li class="list-group-item">
                                    <div class="entry-message-container">
                                        <div class="name-placeholder">JeTest ToutToutLeTemps</div>
                                        <div class="hour-placeholder">10:10</div>
                                        <div class="text-placeholder">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum massa at ex congue consequat. In hac habitasse platea dictumst posuere.</div>
                                    </div>
                                </li>
                            </ul>


                        </div>
                        <div>
                            <form>
                                <div class="input-group">
                                    <textarea class="form-control" id="messageToSend" placeholder="Votre message"  rows="3"></textarea>
                                    <button type="submit" class="btn btn-outline-warning"><i class="material-icons">send</i></button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="modal fade" id="programModal" tabindex="-1" role="dialog" aria-labelledby="programModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="programModalLabel">Programme de la journée</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-header">9h-11h (GMT + 1)</div>
                                        <div class="card-body">
                                            <h4 class="card-title">Discours Ouverture</h4>
                                            <h6 class="card-subtitle mb-2 text-muted">Olivier FESTOR, directeur de TELECOM Nancy.</h6>
                                            <p class="text-right"><a href="#" class="card-link">Voir</a></p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            Il y a 2 heures.
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">11h (GMT + 1)</div>
                                        <div class="card-body">
                                            <h4 class="card-title">Visite Virtuelle</h4>
                                            <h6 class="card-subtitle mb-2 text-muted">Parcourez grâce à Citizen Cam, le batiment de l'école</h6>
                                            <p class="text-right"><a href="#" class="card-link">Voir</a></p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            Il y a 1 heure.
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">14h (GMT + 1)</div>
                                        <div class="card-body">
                                            <h4 class="card-title">Visite à distance</h4>
                                            <h6 class="card-subtitle mb-2 text-muted">Découvrez en avant-première le batiment TNCY façon minecraft !</h6>
                                            <p class="text-right"><a href="#" class="card-link">Téléchargez la carte</a></p>
                                            <h6 class="card-subtitle mb-2 text-muted">Faites une visite virtuelle de TELECOM (Youtube)</h6>
                                            <p class="text-right"><a href="https://www.youtube.com/watch?v=1LNM3u4moRg" class="card-link">Voir</a></p>

                                        </div>
                                        <div class="card-footer text-muted">
                                            N'a pas encore eu lieu.
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script>
    var users = <%- JSON.stringify(users) %>;
    </script>
    <script src="javascripts/map.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJGZTs8mUHBXCm9EhqMf2LjUFlq9DcHx4&callback=initMap">
    </script>
    <script>
        $(function() {
            var socket = io();
            $('form').submit(function() {
                socket.emit('chat message', $('#messageToSend').val());
                $('#messageToSend').val('');
                return false;
            });
            socket.on('chat message', function(msg) {
                console.log('emit message received from server... msg: ' + msg);
            });
        });
    </script>
</body>
</html>
