<!DOCTYPE html>
<html>
<head>
    <title>TELECOM Nancy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-social.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="login-main-container">
        <div class="login-container">
            <div class="left-login-container">
                <img src="images/telecom_nancy.png" width="50%" style="display: block;margin-right: auto;margin-left: auto;"/>
                <h2>Joyeux 10ème bativersaire</h2>
                <div>
                    <div class="bold">
                        Plateforme spéciale 10 ans
                    </div>
                    <div>
                        Carte interactive pour decouvrir où vivent nos anciens.
                    </div>
                </div>
                <div>
                    <div class="bold">
                        Demandez le programme
                    </div>
                    <div>
                        Suivez à distance les discours et diverses visites organisées dans le batiment.
                    </div>
                </div>
            </div>
            <div class="right-login-container">
                <div class="account-icon">
                    <i class="material-icons">account_circle</i>
                </div>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="username">Prénom et Nom</label>
                        <input type="text" class="form-control" name="username" aria-describedby="nomHelp" placeholder="John Doe">
                        <input type="hidden" id="latitude" name="latitude" value="0">
                        <input type="hidden" id="longitude" name="longitude" value="0">
                        <small id="nomHelp" class="form-text text-muted">Cela servira pour la messagerie interne et pour vous représentez sur la carte.</small>
                    </div>
                    <div class="form-group">
                        <label for="promotion">Promotion</label>
                        <select id="promotion" class="form-control" name="promotion">
                            <% for( var i=2020; i > 1992; i--) { %>
                                <option><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LdruTAUAAAAAGybDoclO5eldC86bb-r1qzNNqYv"></div>
                    <div class="login-btn-submit"><button type="submit" class="btn btn-lg btn-warning" onclick="getLocation">Se connecter</button></div>
                    <div class="row">
                      <div class="col-md-6 login-btn-submit-social">
                        <a class="btn btn-block btn-social btn-facebook btn-lg">
                            <span class="fa fa-facebook"></span> Facebook
                        </a>
                      </div>
                      <div class="col-md-6 login-btn-submit-social">
                        <a class="btn btn-block btn-social btn-google btn-lg">
                            <span class="fa fa-google"></span> Google
                        </a>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    window.addEventListener("load", function(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setPosition);
        } else {
          //Get position from http://freegeoip.net
          console.log("Navigateur incompatible");
        }
    });
    function setPosition(position) {
      document.getElementById("latitude").value = position.coords.latitude;
      document.getElementById("longitude").value = position.coords.longitude;
    }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>


<!-- <h1 class="display-3 navbar-brand">
    <div>Bon anniversaire au batiment de</div><div style="padding-left:10px;"></div><div>T</div><div>E</div><div>L</div><div>E</div><div>C</div><div>O</div><div>M</div><div class="nancy">Nancy</div>
</h1>
<div class="container">
    <div class="card-body">
        <small class="form-text">Bienvenue sur la plateforme créée spécialement pour fêter les 10 ans du batiment. A cette occasion de nombreuses activités ont été prévues sur place.
            Mais parce que nous savons que les anciens peuvent parfois difficilement se déplacer dû à leur travail ou leur localisation, nous avons tenté d'amener le batiment à toi et en même temps de dessiner la carte des anciens !
            Pour faciliter l'utilisation de ce site, nous aurons besoin simplement de ton prénom/nom et de ta géolocalisation. La promotion est également demandée.
            En espérant que ce petit interlude à tes nombreux projets de la vie active te plaise, nous te souhaitons une bonne journée-nuit (selon où tu es !).
            <div class="left-align">-- le CA Alisé</div>
        </small>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Prénom et Nom</label>
                <input type="text" class="form-control" name="username" aria-describedby="nomHelp" placeholder="John Doe">
                <input type="hidden" id="latitude" name="latitude" aria-describedby="latitude" value="0">
                <input type="hidden" id="longitude" name="longitude" aria-describedby="longitude" value="0">
                <small id="nomHelp" class="form-text text-muted">Cela servira pour la messagerie interne et pour vous représentez sur la carte.</small>
            </div>
            <div class="form-group">
                <label for="promotion">Promotion</label>
                <select id="promotion" class="form-control" name="promotion">
                    <% for( var i=2020; i > 1992; i--) { %>
                        <option><%= i %></option>
                    <% } %>
                </select>
            </div>
            <div class="login-btn-submit"><button type="submit" class="btn btn-lg btn-warning" onclick="getLocation">Submit</button></div>
        </form>
    </div>
</div> -->
