<!DOCTYPE html>
<html>
<head>
    <title>TELECOM Nancy</title>
</head>
<body>
    <form method="POST" action="/updateGeolocation" id="form">
        <input type="hidden" name="latitude" id="latitude" value="0" />
        <input type="hidden" name="longitude" id="longitude" value="0" />
    </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    window.addEventListener("load", function(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setPosition);
        } else {
            console.log("Set position from IP");
            setPositionFromIP();
        }
        submitForm();
    });

    function setPosition(position) {
        document.getElementById("latitude").value = position.coords.latitude;
        document.getElementById("longitude").value = position.coords.longitude;
    }
    
    function setPositionFromIP() {
        $.getJSON('https://ipapi.co/json/', function(data) {
          document.getElementById("latitude").value = JSON.stringify(data.latitude, null, 2);
          document.getElementById("longitude").value = JSON.stringify(data.longitude, null, 2);
        });
    }
    
    function submitForm() {
        document.getElementById("form").submit();
    }
    </script>
</body>
</html>
